AddType application/x-httpd-php70 .php
Options +FollowSymLinks
RewriteEngine On
Options -Indexes

# Sintaxis
RewriteRule ^$ pages/index.php
RewriteRule ^login$ pages/login.php
RewriteRule ^recuperar$ pages/recuperar.php
RewriteRule ^crear$ pages/crear.php
RewriteRule ^ediciones$ pages/ediciones.php
RewriteRule ^noticia$ pages/noticia.php
RewriteRule ^edit$ pages/edit.php
RewriteRule ^mis-noticias$ pages/mis-noticias.php
RewriteRule ^perfil$ pages/perfil.php
RewriteRule ^usuarios$ pages/usuarios.php
RewriteRule ^nuevo-usuario$ pages/nuevo-usuario.php
RewriteRule ^editar-usuario$ pages/editar-usuario.php
RewriteRule ^eliminar-usuario$ pages/eliminar-usuario.php
RewriteRule ^cerrar-session$ pages/cerrar-session.php